.notification {
    color : green;
    background : lightgray;
    border-style: solid;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color : red;
    background : lightgray;
    border-style: solid;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.blog {
    padding-top : 10px;
    padding-left: 2px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
    
}